<html>
<head>
	<title>Time series forecasting</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" >// <![CDATA[ 
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
<meta charset="utf-8" />
<style>
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  color: #FFFFFF;
}
	.heading { color: #FFFFFF;}  
body {

    padding:0px;
    margin:20px;
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg") ;
    background-size:auto;
    width:100vw;
    height:100vh;
    
   
}
div#loading {
 
    width: 1700px;
    height: 35px;
    display: none;
    background: url('{{ url_for('static', filename='loading_bar.gif' ) }}') no-repeat;
    cursor: wait;
    
  } 

</style>
</head>
   <body>
      
	  <div class="container">
		<div class="row">

		  <form action="http://localhost:5000" method="POST" action="/submit_ts" enctype="multipart/form-data">
		  	<div class="col-sm-9">
	<h4  class="heading">Upload your file</h4>
	<h4 class="heading">Format should be csv or excel</h4>
				<input type="file" name="userfile" class="btn btn-primary" >



			 <div class="form-group  purple-border">
				  <label for="comment"  class="heading">Enter the column name of the date</label>
				  <textarea class="form-control" rows="2" id="query1" name="query1" rows="2" cols="5" autofocus>{{query1}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment"  class="heading">Enter the format of the date</label>
				  <textarea class="form-control" rows="2" id="query2" name="query2" rows="2" cols="5" autofocus>{{query2}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment"  class="heading">Enter the number of features you want to forecaste</label>
				  <textarea class="form-control" rows="2" id="query3" name="query3" rows="2" cols="5" autofocus>{{query3}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment"  class="heading">Enter the name of the feature you want to forecast on</label>
				  <textarea class="form-control" rows="2" id="query4" name="query4" rows="2" cols="5" autofocus>{{query4}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment"  class="heading">Do you want to forecast on any category in the features (eg:- country(India)) or want to forecast on whole (Yes/No)))</label>
				  <textarea class="form-control" rows="2" id="query5" name="query5" rows="2" cols="5" autofocus>{{query5}}</textarea>
			</div>
			<h4  class="heading"> If your Response is Yes then fill below two columns otherwise go to last column</h4>

			<div class="form-group  purple-border">
				  <label for="comment"  class="heading">Enter the feature name from which you want to pick the category (eg:- country)</label>
				  <textarea class="form-control" rows="2" id="query6" name="query6" rows="2" cols="5" autofocus>{{query6}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment"  class="heading">Enter category name to forecast</label>
				  <textarea class="form-control" rows="2" id="query7" name="query7" rows="2" cols="5" autofocus>{{query7}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment"  class="heading">Enter number of days to forecast</label>
				  <textarea class="form-control" rows="2" id="query8" name="query8" rows="2" cols="5" autofocus>{{query8}}</textarea>
			</div>
	
			

			</div>
			<div class="col-sm-3">
			<button type="submit" class="btn btn-primary" name="submit" onclick="loading();">SUBMIT</button>
			</div>
		  </form>
		  <br>
		  <div id="loading" >
		  	<br>
  <p class="heading"> Please wait</p>
		  </div>
		  </div>
		  <br>
		<div class=page>
 		<h1  class="heading">forecasted data</h1>
 		<table>
  		{% for table in tables %}
    	
    	{{ table|safe }}
  		{% endfor %}
  	</table>
  	<br>
  		<img src="{{ user_image }}" alt="User Image"/>
	</div>
	</div>		
   </body>
</html>